body {
  background: $color-dark;
  color: $color-white;
}

header {
  margin: 0 -#{$gutter-mobile} $gutter-mobile;
  padding: $gutter-mobile;
  background: $color-black;
  @media (min-width: $breakpoint-m) {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  margin: 0;
}

.logo {
  max-width: 15rem;
}
