@mixin flex-col($width) {
  flex: 0 0 $width;
  max-width: $width;
}

.grid {
  max-width: calc(100% - #{$gutter-mobile});
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $max_width) {
    max-width: calc(100% - #{$gutter-desktop});
  }
}
