<div class="slideshow {{ activeClass }}" data-item="-1" data-scenes="{{ scenes | dump }}" data-module="slideshow/Slideshow" data-options="{{ options | dump }}" data-name="{{ options.mesh.image }}">
  <div class="slideshow__inner">
    <div class="slideshow__canvas-wrap"></div>
    <div class="slideshow__header">
      <h3 class="slideshow__title">{{ options.mesh.shape }}</h3>
      <div class="slideshow__color-switches">
        {% for color in[
          'blue',
          'red',
          'magenta',
          'lime',
          'cyan',
          'yellow',
          'orange',
          'pink',
          'tomato'
        ] %}
          <button class="slideshow__color-switch" data-color="{{ color }}" style="background: {{ color }}"></button>
        {% endfor %}
      </div>
    </div>
  </div>
  <button class="slideshow__nav-button slideshow__nav-button--prev" data-direction="prev">&larr;</button>
  <button class="slideshow__nav-button slideshow__nav-button--next" data-direction="next">&rarr;</button>
</div>
