{% extends '../layout/default.njk' %}

{% block body %}
  <div class="grid">
    <header>
      <h1>{{ title }}</h1>
      <p>{{ body }}</p>
    </header>
    <main class="main-wrap">

      {% component 'january', {
        options: {
          sceneItem: {
            double: true
          }
        }
      } %}

      {% component 'january', {
        title: "A little different",
        options: {
          background: "#0066AA",
          camera: {
            speed: 5
          },
          ground: {
            color: '#4477e0'
          },
          sceneItem: {
            count: 32,
            image: "big-lukowski",
            spacing: 320,
            offset: 400,
            secondaryMovementSpeed: 0.002
          }
        }
      } %}

      {% component 'january', {
        title: "More little different",
        options: {
          background: "#2667a2",
          camera: {
            speed: 5
          },
          ground: {
            color: '#ffe9b8'
          },
          sceneItem: {
            count: 32,
            image: "pobednik",
            width: 256,
            height: 1024,
            position: {
              y: -200
            },
            spacing: 320,
            offset: 400,
            movementSpeed: 0.025,
            secondaryMovementSpeed: 0
          }
        }
      } %}

      {% component 'january', {
        title: "Even more little different",
        options: {
          background: "#80a6b4",
          camera: {
            speed: 10,
            position: {
              y: -280
            },
            slouch: 20
          },
          ground: {
            color: "#888844",
            height: 100
          },
          sceneItem: {
            offset: 360,
            height: 256,
            width: 256,
            spacing: 300,
            position: {
              y: 0
            },
            image: "apolon",
            count: 60,
            movementSpeed: 0.001,
            secondaryMovementSpeed: -0.002
          }
        }
      } %}

      {% component 'january', {
        title: "Totally little different",
        options: {
          background: "#A02244",
          camera: {
            speed: 6,
            slouch: 40
          },
          ground: {
            color: "#b88844"
          },
          sceneItem: {
            color: "rgba(250, 230, 200, 0.5)",
            shape: "box",
            width: 400,
            offset: 460,
            spacing: 250,
            position: {
              y: 200
            },
            image: "peca",
            count: 40,
            movementSpeed: -0.01,
            secondaryMovementSpeed: -0.01,
            reverseSideRate: 3
          }
        }
      } %}

      {% component 'january', {
        title: "Ma ajde",
        options: {
          background: "#102244",
          camera: {
            speed: 6,
            slouch: 40
          },
          ground: {
            color: "#188844"
          },
          sceneItem: {
            color: "rgba(250, 230, 200, 0.5)",
            shape: "lathe",
            shapeOptions: {
              segments: 10,
              size: 100,
              step: 5,
              x: 20,
              y: 0.2
            },
            width: 600,
            offset: 460,
            spacing: 250,
            position: {
              y: 80
            },
            image: "peca",
            count: 40,
            movementSpeed: -0.01,
            secondaryMovementSpeed: -0.01,
            reverseSideRate: 3
          }
        }
      } %}

    </main>
  </div>
{% endblock %}
