{% extends '../layout/default.njk' %}

{% block body %}
  <main class="grid">
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>
    <div class="flex">

      {% component 'january' %}

      {% component 'january', {
        title: "A little different",
        background: "tomato",
        imageCount: 30,
        speed: 8,
        image: "mirabeau-logo"
      } %}

      {% component 'january', {
        title: "Even more little different",
        background: "#004488",
        imageCount: 60,
        speed: 5,
        image: "big-lukowski"
      } %}
    </main>
  </div>
{% endblock %}
