{% extends '../layout/default.njk' %}

{% block body %}
  <main class="grid">
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>
    <div class="flex">

      {% component 'january' %}

      {% component 'january', {
        title: "A little different",
        options: {
          background: "#004488",
          imageCount: 40,
          speed: 5,
          itemOffset: 400,
          image: "big-lukowski"
        }
      } %}

      {% component 'january', {
        title: "Even more little different",
        options: {
          background: "#002244",
          imageCount: 60,
          speed: 7,
          itemOffset: 360,
          image: "peca"
        }
      } %}

    </main>
  </div>
{% endblock %}
