{% extends '../layout/default.njk' %}

{% block body %}
  <div class="grid">
    {% component 'header' %}
    <main class="main-wrap">
      {% component 'single-mesh-slideshow', "templates/scene-gallery-page.json", { options: options } %}
    </main>
  </div>
{% endblock %}
