{% extends '../layout/default.njk' %}

{% block body %}
  <div class="grid">
    {% component 'header' %}
    <main class="main-wrap">
      {% component 'slideshow' %}
    </main>
  </div>
{% endblock %}
