<div class="january" data-module="january/January" data-background="{{ background }}" data-image-count="{{ imageCount }}" data-speed="{{ speed }}" data-image="{{ image }}">
  <button class="january__color-switch" data-color="red"></button>
  <button class="january__color-switch" data-color="green"></button>
  <button class="january__color-switch" data-color="blue"></button>
  <button class="january__color-switch" data-color="yellow"></button>
</div>
