.january {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 100vw) 1fr;
  grid-gap: $gutter-mobile;
  &__nav-button {
    grid-row: 1;
    background: transparent;
    color: $color-white;
    font-size: 6rem;
    position: sticky;
    top: 10rem;
    &--prev {
      grid-column: 1;
    }
    &--next {
      grid-column: 3;
    }
  }
}
&__inner {
  display: block;
  grid-column: 2;
  width: 100%;
  margin-bottom: 3rem;
  @media (min-width: $breakpoint-l) {
    @include flex-col(100%);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $gutter-mobile / 2;
  }
  &__color-switch {
    background: $color-black;
    color: $color-white;
    border: none;
    border-radius: $border-radius;
    appearance: none;
    padding: 0.7rem;
    margin-bottom: 0.3rem;
    margin-right: 0.2rem;
    outline: none;
    &[data-color='red'] {
      background: $color-red;
    }
    &[data-color='green'] {
      background: $color-green;
    }
    &[data-color='blue'] {
      background: $color-blue;
    }
    &[data-color='yellow'] {
      background: $color-yellow;
    }
  }
}
