<div class="january" data-module="january/January" data-color="{{ color }}">
  <button class="january__color-switch" data-color="red"></button>
  <button class="january__color-switch" data-color="green"></button>
  <button class="january__color-switch" data-color="blue"></button>
  <button class="january__color-switch" data-color="yellow"></button>
</div>
