<div class="january {{ activeClass }}" data-item="0" data-module="january/January" data-options="{{ options | dump }}" data-name="{{ options.sceneItem.image }}">
  <div class="january__inner">
    <div class="january__header">
      <h3 class="january__title">{{ options.sceneItem.shape }}</h3>
      <div class="january__color-switches">
        <button class="january__color-switch" data-color="red"></button>
        <button class="january__color-switch" data-color="green"></button>
        <button class="january__color-switch" data-color="blue"></button>
        <button class="january__color-switch" data-color="yellow"></button>
      </div>
    </div>
    <div class="january__canvas-wrap"></div>
  </div>
  <button class="january__nav-button january__nav-button--prev">&larr;</button>
  <button class="january__nav-button january__nav-button--next">&rarr;</button>
</div>
