.carousel {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 100vw) 1fr;
  grid-gap: $gutter-mobile;
  &__control {
    grid-row: 1;
    &--prev {
      grid-column: 1;
    }
    &--next {
      grid-column: 3;
    }
  }
  &__button {
    background: transparent;
    color: $color-white;
    font-size: 6rem;
    position: sticky;
    top: 10rem;
  }
}
