<div class="carousel" data-module="carousel/Carousel" data-active-item="0">
  <div class="carousel__display">
    {% for item in items %}
      {% component 'january',
      item %}
    {% endfor %}
  </div>
  <div class="carousel__control carousel__control--prev">
    <button class="carousel__button">&uarr;</button>
  </div>
  <div class="carousel__control carousel__control--next">
    <button class="carousel__button">&darr;</button>
  </div>
</div>
